@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

*{
  margin:0;
  padding: 0;
}

body{
  font-family: 'Roboto Slab', serif;
}

/* Header */

.header  {
  background: #1f2937;
}

#header-logo{
  font-size: 24px;
  color: #f9faf8;
}

.header-link{
  font-size: 18px;
  color: #e5e7eb;
  margin: 10px;
}

.navbar{
  display: flex;
  flex-direction: row;
}

.navbar-left,.navbar-right{
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}

h1{
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.content{
  display:flex;
  flex-direction: row;
  margin: 50px;
}

.content-right{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
}

.content-left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin-left: 150px;
}

img{
  margin-bottom: 50px;
}

.p-first{
  align-items: center;
  font-size: 18px;
  color: #e5e7eb;
}

.header-button{
  background: #054ec4;
  color: white;
  width: 100px;
  height: 40px;
  border: 1px #054ec4;
  border-radius: 10px;
}

ul {
  display: flex;
  flex-direction: row;
  margin-right: 24px;
  gap: 24px;
}

/* Information */

.information{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2{
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  text-align: center;
}

.blue-boxes{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  margin: 100px;
  align-items: center;
}

.box-blue{
  border: 3px solid #3882f6;
  width: 200px;
  height: 200px;
  border-radius: 25px;
}

.p-second{
  text-align: center;
  font-size: 18px;
}

/* Testimonial */

.testimonial{
  background-color: #e5e7eb;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h3{
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  color: #1f2937;
}

.p-third{
  font-size: 18px;
  text-align: end;
}

/* Call to Action */

.call-to-action{
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue-container{
  background-color: #3882f6;
  width: 75%;
  height: 40%;
  display: flex;
  flex-direction: row;
}

.CTA-text{
  width:80%;
  margin-left: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h4{
  font-size: 24px;
  color: white;
}

.CTA-p{
  color:white;
  font-size: 18px;
}

.CTA-button{
  display: flex;
  justify-content: center;
  align-items: center;
}

.last-button{
  background: #054ec4;
  color: white;
  width: 100px;
  height: 40px;
  border: 1px;
  border-radius: 10px;
}

/* Footer */

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  color: #e5e7eb;
  height: 75px;
}